@model BycicleShop.Models.AdminModels.NewUserModel

@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2></h2>
<section class="span5-form">
    @using (Html.BeginForm("AddNewUser", "Admin"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>New User</legend>
            <ol>
                <li>
                    @Html.LabelFor(x => x.Username)
                    @Html.TextBoxFor(x => x.Username)
                </li>
                <li>
                    @Html.LabelFor(x => x.Password)
                    @Html.TextBoxFor(x => x.Password)
                </li>
                <li>
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email)
                </li>
            </ol>
            <input type="submit" class="btn btn-primary btn-large" value="New User"/>
        </fieldset>
    }
</section>

@Scripts.Render("~/bundles/modernizr")