@model BycicleShop.Models.ProductModels.EditProductModel

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<section class="span5-form">
    @using (Html.BeginForm("EditProduct", "Admin"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>New Product</legend>
            <ol>
                <li>
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name)
                </li>
                <li>
                    @Html.LabelFor(x => x.ProductNumber)
                    @Html.TextBoxFor(x => x.ProductNumber)
                </li>
                <li>
                    @Html.LabelFor(x => x.Size)
                    @Html.TextBoxFor(x => x.Size)
                </li>
                <li>
                    @Html.LabelFor(x => x.Color)
                    @Html.TextBoxFor(x => x.Color)
                </li>
                <li>
                    @Html.LabelFor(x => x.Weight)
                    @Html.TextBoxFor(x => x.Weight)
                </li>
                <li>
                    @Html.LabelFor(x => x.ListPrice)
                    @Html.TextBoxFor(x => x.ListPrice)
                </li>
                <li>
                    @Html.LabelFor(x => x.StandardCost)
                    @Html.TextBoxFor(x => x.StandardCost)
                </li>
                <li>
                    @Html.LabelFor(x => x.Category)
                    @*Html.DropDownListFor(x => x.Category, Enumerable.Empty<SelectListItem>(), String.Empty, new { id = "helper", name = "helper" })*@
                    @Html.DropDownListFor(x => x.Category, new SelectList(Model.Categories), Model.Category)
                </li>
                <li>
                    @Html.HiddenFor(x => x.Id)
                    Html.LabelFor(x => x.Name)
                    Html.TextBoxFor(x => x.Name)
                </li>
            </ol>
            <input type="submit" class="btn btn-primary" value="Edit" />
        </fieldset>
    }
</section>
