@using System.Globalization
@model List<BycicleShop.Models.AdminModels.ProductStatisticModel>

@{
    ViewBag.Title = "ProductStatistic";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Sales statistics</h2>
<table class="table table-bordered table-striped table-hover">
    <tr class="info">
        <td>#</td>
        <td>Product Name</td>
        <td>Count</td>
        <td>Sent Date</td>
        <td>Receive Date</td>
        <td>Username</td>
    </tr>
    @{
        var i = 1;
        foreach (var product in Model)
        {
            <tr>
                <td>@(i++.ToString(CultureInfo.InvariantCulture))</td>
                <td><a href="@Url.Action("ProductInfo", "StoreManager", new {id = product.ProductId})">@product.ProductName</a></td>
                <td>@product.Count.ToString(CultureInfo.InvariantCulture)</td>
                <td>@product.SentDate.ToString()</td>
                <td>@product.ReceiveDate.ToString()</td>
                <td><a href="@Url.Action("UserProfile", "Account", new {username = product.UserName})">@product.UserName</a></td>
            </tr>
        }
    }
</table>
