@model BycicleShop.Models.ProductModels.ProductExtendedModel
@{
    ViewBag.Title = "ProductInfo";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<h2>ProductInfo</h2>

<div>
    <table>
        <tr>
            <td>
                <img src="@Url.Action("ShowImage", "Helper", new { id = Model.Id })" alt="s" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Size)
            </td>
            <td>
                @Html.DisplayFor(model => model.Size)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Weght)
            </td>
            <td>
                @Html.DisplayFor(model => model.Weght)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Color)
            </td>
            <td>
                @Html.DisplayFor(model => model.Color)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SellStartDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.SellStartDate)
            </td>
        </tr>
    </table>
    <a href="@Url.Action("AddToBasket", "Order", new { productId = Model.Id, returnUrl = Request.Url.PathAndQuery, count = 1 })"
       class="btn btn-small btn-primary search-center">Add to Basket</a>
    @if (Roles.IsUserInRole("Admin"))
    {
        <a href="@Url.Action("DeleteProduct", "Admin", new {id = Model.Id})" class="btn btn-small">Delete Product</a>
        <a href="@Url.Action("EditProduct", "Admin", new {id = Model.Id})" class="btn btn-small">Edit Product</a>
        <a href="@Url.Action("ProductStatistic", "Admin", new {id = Model.Id})" class="btn btn-small">Statistic</a>
    }

</div>
