@using PagedList.Mvc
@model BycicleShop.Models.ProductModels.SearchProductModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<h3 style="text-align: center">Search result for " @Model.SearchString "</h3>

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="span3">
            <a href="@Url.Action("ProductInfo", new { id = item.Id })" class="link">
                <img src="@Url.Action("ShowImage", "Helper", new { id = item.Id })" alt="s" style="width: 180px; height: 150px"/><br>
                @Html.DisplayFor(modelItem => item.Name).ToString()</a>
            <p style="color: red">@Html.DisplayFor(modelItem => item.Price)</p>
        </div>
    }
</div>

<div class="search-center">
    Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount

    @Html.PagedListPager(Model.Products, page => Url.Action("Search", new { Model.SearchString, page }))
</div>