@using Recaptcha
@model BycicleShop.Models.OrderModels.OrderStepModel

@{
    ViewBag.Title = "CheckoutStepTwo";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<section class="span8" style="float: none; margin: auto;">
    @using (Html.BeginForm("CheckoutStepTwo", "Order"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.Adress)
                    @Html.TextBoxFor(m => m.Adress)
                </li>
                <li>
                    @Html.LabelFor(m => m.Comments)
                    @Html.TextAreaFor(m => m.Comments)
                </li>
                <li>
                    @Html.LabelFor(m => m.CreditCard)
                    @Html.TextBoxFor(m => m.CreditCard)
                </li>
                <li>
                    @Html.Raw(Html.GenerateCaptcha("Recaptcha", "clean"))
                    @Html.ValidationMessage("recaptcha")
                </li>
                @Html.Hidden("TotalPrice", Model.TotalPrice)
                @Html.HiddenFor(x => x.BasketId)
            </ol>
            <input class="btn btn-primary" type="submit" value="Checkout" />
        </fieldset>
    }
</section>


