@model BycicleShop.Models.AccountModels.ChangeEmailModel
@{
    ViewBag.Title = "ChangeEmail";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@using (Html.BeginForm("ChangeEmail", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Change Email</legend>
            <ol>
                <li>
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password)
                </li>
                <li>
                    @Html.LabelFor(x => x.OldEmail)
                    @Html.TextBoxFor(x => x.OldEmail)
                </li>
                <li>
                    @Html.LabelFor(x => x.NewEmail)
                    @Html.TextBoxFor(x => x.NewEmail)
                </li>
            </ol>
            <input class="btn btn-primary btn-large" type="submit" value="Change Email"/>
        </fieldset>
    }