@model BycicleShop.Models.AccountModels.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="span5-form">
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Change Password</legend>
            <ol>
                <li>
                    @Html.LabelFor(x => x.OldPassword)
                    @Html.PasswordFor(x => x.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(x => x.NewPassword)
                    @Html.PasswordFor(x => x.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(x => x.ConfirmNewPassword)
                    @Html.PasswordFor(x => x.ConfirmNewPassword)
                </li>
            </ol>
            <input class="btn btn-primary btn-large" type="submit" value="Change Password"/>
        </fieldset>
    }
</section>