@model BycicleShop.Models.AccountModels.ManageModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<section class="span5-form">
    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Manage</legend>
            <ol>
                <li>
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName)
                </li>
                <li>
                    @Html.LabelFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName)
                </li>
                <li>
                    @Html.LabelFor(x => x.Adress)
                    @Html.TextBoxFor(x => x.Adress)
                </li>
                <li>
                    @Html.LabelFor(x => x.PhoneNumber)
                    @Html.TextBoxFor(x => x.PhoneNumber)
                </li>
            </ol>
            <input class="btn btn-primary btn-large" type="submit" value="Manage"/>
        </fieldset>
    }
    <a href="@Url.Action("ChangePassword")">Change Password</a>
    <a href="@Url.Action("ChangeEmail")">Change Email Adress</a>
</section>
