@using Recaptcha
@model BycicleShop.Models.AccountModels.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<section class="span5-form">
    @using (Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.EmailAdress)
                    @Html.TextBoxFor(m => m.EmailAdress)
                </li>
                <li>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.Adress)
                    @Html.TextBoxFor(m => m.Adress)
                </li>
                <li>
                    @Html.Raw(Html.GenerateCaptcha("Recaptcha", "clean"))
                    @Html.ValidationMessage("recaptcha")
                </li>
            </ol>
            <input class="btn btn-primary" type="submit" value="Register" />
        </fieldset>
    }
</section>

@Scripts.Render("~/bundles/modernizr")